<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.point2points.kdusurveysystem">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/kdu_logo_invert"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver android:name=".network.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LaunchingScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".lecturer.LecturerHome">
        </activity>
        <activity android:name=".student.StudentHome">
        </activity>
        <activity android:name=".admin.AdminHome">
        </activity>
        <activity android:name=".RecyclerView.RecyclerViewLecturer"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".RecyclerView.RecyclerViewStudent"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".RecyclerView.RecyclerViewSubject"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".RecyclerView.RecyclerViewSchool"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".RecyclerView.RecyclerViewProgramme"
            android:configChanges="orientation">
        </activity>
        <activity android:name=".RecyclerView.RecyclerViewSurvey"
                  android:configChanges="orientation">
        </activity>
        <activity
            android:name=".Fragment.LecturerFragmentPagerActivity">
        </activity>
        <activity
            android:name=".Fragment.StudentFragmentPagerActivity">
        </activity>
        <activity
            android:name=".Fragment.SubjectFragmentPagerActivity">
        </activity>
        <activity
            android:name=".Fragment.SchoolFragmentPagerActivity">
        </activity>
        <activity
            android:name=".Fragment.ProgrammeFragmentPagerActivity">
        </activity>
        <activity
            android:name=".Fragment.SurveyFragmentPagerActivity">
        </activity>

    </application>

</manifest>